* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: "poppins", serif;
}

h2 {
    color: #6070ff;
    font-weight: 700;
    gap: 90px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    font-size: 1rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 5%;
}

header a {
    text-decoration: none;
    padding: 7%;
}

header a:hover {
    background-color: bisque;
    border-radius: 50%;
}

.fa-bars {
    color: #6070ff;
}

.home{
    background-image: url(./imagen/fondo.svg);
    background-repeat: no-repeat;
    width: 100vw;
    height: 87vh;
    padding: 1.5rem;
    gap: 1.8rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.5;
    color: #172b4d;
}

h1:hover {
    font-size: 40%;
    cursor: pointer;
}

.home p{
 font-weight: 400;
 font-size: 1rem;
 color: #344563;
}

h3{
    font-weight: 700;
    color: #7f8cff;
    font-size: 1rem;
}

.fa-brands{
    color: #505f79;
    text-decoration: none;
    font-size: large;
}

ul{
    padding: 0px;
    display: flex;
    gap: 20px;
}

button {
    color: #fff;
    background-color: black;
    padding: 15px;
}

botton:haver {
    color: black;
    background-color: #7f8cff;
    border: 1px solid black;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 320px;
    margin: auto;
    text-align: left;
    font-family: 'Poppins', serif;
  }
  
  
  .card button {
    padding: 5px;
    color:#6070FF;
    background-color: #EBEBFF;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }
  ul {
    padding: 1px;
    color: #C1C7D0;
    text-decoration: none;
  }
  .tecno {
    display: flex;
    justify-content: flex-start;
    gap: 3%;
  }

  .tecno button {
    font-size: small;
    border-radius: 8px;

  }
 .btn-proyect{
margin: 4%;
color: #396df2;
 }
 
 .sobre-mi {
    background-repeat: no-repeat;
    width: 100vw;
    height: 87vh;
    padding: 1.5rem;
    gap: 1.8rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
 }
    
 /*estilos del header y el menu responsivo*/
header {
    position: fixed;
    width: 100%;
    color: #6070FF;
    font-family: "Poppins", serif;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header p {
     border-radius: 50%;
    cursor: pointer;
    padding: 1%;
}
header nav {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  
  .topnav {
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #ffffffb9;
  }
  
  .topnav .nav-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  
  .topnav a {
    display: none;
    color: #6070FF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav .icon {
    display: block;
    color: #6070FF;
    padding: 14px 16px;
    font-size: 24px;
    cursor: pointer;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  /* Responsive menu styles */
  .topnav.responsive .nav-links a {
    display: block;
    width: 100%;
    text-align: left;
    
    padding: 14px 16px;
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
  }
  
  .topnav.responsive .nav-links a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a {
    display: none;
  }
  
  .topnav a.icon {
    float: right;
    display: block;
  }
  
  .topnav.responsive {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  
    background-color: #6171ffcc;
    backdrop-filter: blur(4px);
    z-index: 9999;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 2.5rem;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    font-size: 2rem;
    font-weight: 600;
    color: #fff; 
    
  }
  
  .portfolio-link {
    margin-top: 4rem;
  }
 
  /* Cambia los estilos para la version de escritorio */

@media (min-width: 600px) {
    .topnav a {
      display: block;
    }
    .topnav a.icon {
      display: none;
    }
    .topnav.responsive {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      position: relative;
      height: auto;
      background-color: #fff;
      backdrop-filter: none;
   
    }
    .topnav.responsive a {
      font-size: 1rem;
      font-weight: normal;
      color: #344563;
    }
  
    .topnav .nav-links {
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      font-weight: 500;
    }
    .topnav .nav-links a {
      display: block;
      float: left;
    }
    .topnav .icon {
      display: none;
    }
    .topnav.responsive {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background-color: #fff;
      backdrop-filter: none;
      z-index: 1;
    }
    .topnav.responsive .nav-links a {
      float: left;
      display: block;
      font-size: 17px;
      font-weight: normal;
      color: #344563;
    }
  
    .topnav a {
      color: #344563;
    }
  
    .portfolio-link {
      margin-top: 0;
    }
  
    html {
      font-size: 20px;
    }
  
    .home {
      background-image: url(./img/HeaderBg.svg);
      background-size: cover;
      background-position: center;
      padding: 25vh;
      border-bottom-left-radius: 6rem;
    }
  }
  
  /* formulary section */
.blackBoton {
  font-family: 'Poppins', sans-serif;
  margin: 16px 16px;
  height: 50px;
  background: #fff;
  color: #6070ff;
  margin-bottom: 32px;
  border-radius: 10%;
}

button {
  transition-duration: 0.4s;
  cursor: pointer;
}

button:hover {
  background: #fff;
  border-color: black;
  border-width: 3px;
  color: #1a2236;
  font-weight: bold;
}

button:active {
  border-width: 4px;
}

.formulary {
  background-image: url(./imagen/Contact\ me.svg); 
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  padding: 1px;
  height: calc(100vh - 145px);
}

.space {
  height: 106px;
}

.cont-form {
  width: 320px;
  align-self: center;
}

.form-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.getStar {
  font-family: 'Poppins', serif;
  font-weight: 400;
  font-size: 50px;
  color: white;
  margin: 20px;
}
.textAbout {
  color: white;
  font-family: 'Poppins', serif;
  margin: 20px;
}  

.form-name {
  display: flex;
  flex-direction: column;
  border: 1px solid #dfdfe0;
  height: 46px;
  margin: 8px 18px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  padding-left: 16px;
  padding-top: 4px;
  color: #000000;
}

.alert {
  display: flex;
  justify-content: space-between;
}

.error-message {
  display: none;
  color: #e2505c;
  padding-right: 10px;
  font-weight: bolder;
}
/* hover effect for input field */

.form-name:hover {
  border: 1px solid black;
}

.form-name-contend {
  border: none;
  background: #fff;
}

.form-name-contend:active {
  border: white;
}

.form-text {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #dfdfe0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: 8px 18px;
  height: 90px;
  min-width: 89%;
  max-width: 400px;
  padding-left: 16px;
  padding-top: 8px;
}

input[type="email"]:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  -webkit-text-fill-color: black !important;
}

input {
  font-size: 1rem;
  color: #1a2236;
}	

input[type="email"] {
  background-color: #fff !important;
}

input:focus {
  outline: none;
  color: #1a2236;
  font-size: 1rem;
}

input:-internal-autofill-selected {
  background-color: #fff;
}

label {
  border-radius: 4px;
  border: none;
  background: #fff;
}

/* Cambia los estilos para la version de escritorio */

@media (min-width: 600px) {
  .topnav a {
    display: block;
  }
  .topnav a.icon {
    display: none;
  }
  .topnav.responsive {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: auto;
    background-color: #fff;
    backdrop-filter: none;
 
  }
  .topnav.responsive a {
    font-size: 1rem;
    font-weight: normal;
    color: #344563;
  }

  .topnav .nav-links {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    font-weight: 500;
  }
  .topnav .nav-links a {
    display: block;
    float: left;
  }
  .topnav .icon {
    display: none;
  }
  .topnav.responsive {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    backdrop-filter: none;
    z-index: 1;
  }
  .topnav.responsive .nav-links a {
    float: left;
    display: block;
    font-size: 17px;
    font-weight: normal;
    color: #344563;
  }

  .topnav a {
    color: #344563;
  }

  .portfolio-link {
    margin-top: 0;
  }

  html {
    font-size: 20px;
  }

  .home {
    background-image: url(./img/HeaderBg.svg);
    background-size: cover;
    background-position: center;
    padding: 25vh;
    border-bottom-left-radius: 6rem;
  }

  /* form responsive */
  .formulary {
    background-image:
      url(./images/image-geometry_6.png),
      url(./images/image-geometry_7.png);
    background-repeat: no-repeat, no-repeat;
    background-position: top left, bottom right;
    display: flex;
    background-size: 15%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 1400px;
    margin: 0 auto;
    height: calc(100vh - 50px);
    background-color: #6070ff;
    border-radius: 150px 0 0;
  }

  .getStar {
    font-size: 110px;
    width: 100%;
    text-align: center;
  }

  .form-hello {
    width: 548px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1em;
    line-height: 21px;
    letter-spacing: -0.01em;
  }

  .cont-form {
    display: flex;
    flex-direction: column;
    width: 40em;
    align-items: center;
    zoom: 80%;
  }

  .form-header {
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .boxForm {
    width: 548px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 2fr;
    column-gap: 18px;
  }

  .form-name {
    border: none;
    background: none;
    margin: 2em 0;
    padding: 0;
    line-height: 2;
    font-size: 12px;
    margin-bottom: 42px;
    color: #fff;
  }

  .form-name-contend {
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 48px;
    border: 1px solid #e0e0e0;
    padding: 0 16px;
    color: #1a2236;
  }

  .form-name-message {
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 12px;
    line-height: 18px;
    color: #1a2236;
  }

  .boxForm label:nth-child(3) {
    grid-column: 1 / 3;
    background: none;
  }

  .form-text {
    width: 100%;
    margin: 0;
    min-width: none;
    max-width: none;
    height: 115px;
    padding: 18px auto auto 20px;
    font-size: 16px;
  }

  .botonform {
    display: flex;
    justify-content: center;
  }

  .button-form {
    height: 70px;
    width: 254px;
  }

  .form-name:hover {
    border: 0 solid black;
  }

  label.form-name-contend:focus {
    border: none;
  }
  
}
 